server:
  port: 9002
eureka:
  instance:
    hostname: eureka9002.com #eureka服务端的实例名称
  client:
    register-with-eureka: false     #false表示不向注册中心注册自己。
    fetch-registry: false           #false表示自己端就是注册中心，我的职责就是维护服务实例，并不需要去检索服务
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/ #单机就是自己
      #defaultZone: http://eureka9001.com:9001/eureka #集群要相互注册
